In [35]:
import pandas as pd
import seaborn as sns

# Tables

## Profit by Groups

In [11]:
# 3 Groups
profit3_df = pd.DataFrame({"Small (<20)": {"Current": 9.07, "First-Degree PD": 18.35, "Linear": 9.15, "Nonlinear": 9.57},
              "Medium (20-49)": {"Current": 4.81, "First-Degree PD": 10.50, "Linear": 5.15, "Nonlinear": 5.65},
              "Large (≥50)": {"Current": 4.38, "First-Degree PD": 9.93, "Linear": 4.41, "Nonlinear": 4.98}})
profit3_df["Total Profits"] = profit3_df.sum(axis=1)
profit3_df

                 Small (<20)  Medium (20-49)  Large (≥50)  Total Profits
Current                 9.07            4.81         4.38          18.26
First-Degree PD        18.35           10.50         9.93          38.78
Linear                  9.15            5.15         4.41          18.71
Nonlinear               9.57            5.65         4.98          20.20

In [12]:
print(profit3_df.to_latex())

\begin{tabular}{lrrrr}
\toprule
{} &  Small (<20) &  Medium (20-49) &  Large (≥50) &  Total Profits \\
\midrule
Current         &         9.07 &            4.81 &         4.38 &          18.26 \\
First-Degree PD &        18.35 &           10.50 &         9.93 &          38.78 \\
Linear          &         9.15 &            5.15 &         4.41 &          18.71 \\
Nonlinear       &         9.57 &            5.65 &         4.98 &          20.20 \\
\bottomrule
\end{tabular}

C:\Users\wz369\AppData\Local\Temp\ipykernel_13164\147725666.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(profit3_df.to_latex())

In [19]:
# 5 groups
profit5_df = pd.DataFrame({"Group1 (<10)": {"Current": 4.82, "First-Degree PD": 10.47, "Linear": 4.71, "Nonlinear": 5.09},
              "Group2 (10-19)": {"Current": 4.25, "First-Degree PD": 7.88, "Linear": 4.44, "Nonlinear": 4.48},
              "Group3 (20-49)": {"Current": 4.81, "First-Degree PD": 10.50, "Linear": 5.15, "Nonlinear": 5.65},
              "Group4 (50-99)": {"Current": 2.22, "First-Degree PD": 4.66, "Linear": 2.26, "Nonlinear": 2.64},
              "Group5 (≥100)": {"Current": 2.16, "First-Degree PD": 5.27, "Linear": 2.15, "Nonlinear": 2.33}})
profit5_df["TotalTs"] = profit5_df.sum(axis=1)
profit5_df

,Group1 (<10),Group2 (10-19),Group3 (20-49),Group4 (50-99),Group5 (≥100),Total Profits
Current,4.82,4.25,4.81,2.22,2.16,18.26
First-Degree PD,10.47,7.88,10.50,4.66,5.27,38.78
Linear,4.71,4.44,5.15,2.26,2.15,18.71
Nonlinear,5.09,4.48,5.65,2.64,2.33,20.19

In [20]:
print(profit5_df.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
{} &  Group1 (<10) &  Group2 (10-19) &  Group3 (20-49) &  Group4 (50-99) &  Group5 (≥100) &  Total Profits \\
\midrule
Current         &          4.82 &            4.25 &            4.81 &            2.22 &           2.16 &          18.26 \\
First-Degree PD &         10.47 &            7.88 &           10.50 &            4.66 &           5.27 &          38.78 \\
Linear          &          4.71 &            4.44 &            5.15 &            2.26 &           2.15 &          18.71 \\
Nonlinear       &          5.09 &            4.48 &            5.65 &            2.64 &           2.33 &          20.19 \\
\bottomrule
\end{tabular}

C:\Users\wz369\AppData\Local\Temp\ipykernel_13164\3227267008.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(profit5_df.to_latex())

## Consumer Welfare by Groups

In [25]:
cs_df = pd.DataFrame({"Group1 (<10)": {"Current": 1.99, "First-Degree PD": 0, "Linear": 4.31, "Nonlinear": 2.86},
              "Group2 (10-19)": {"Current": 1.61, "First-Degree PD": 0, "Linear": 2.47, "Nonlinear": 2.22},
              "Group3 (20-49)": {"Current": 1.51, "First-Degree PD": 0, "Linear": 1.84, "Nonlinear": 2.83},
              "Group4 (50-99)": {"Current": 0.72, "First-Degree PD": 0, "Linear": 0.73, "Nonlinear": 1.16},
              "Group5 (≥100)": {"Current": 0.87, "First-Degree PD": 0, "Linear": 0.75, "Nonlinear": 1.12}})
cs_df["Total CS"] = cs_df.sum(axis=1)
cs_df

,Group1 (<10),Group2 (10-19),Group3 (20-49),Group4 (50-99),Group5 (≥100),Total CS
Current,1.99,1.61,1.51,0.72,0.87,6.70
First-Degree PD,0.00,0.00,0.00,0.00,0.00,0.00
Linear,4.31,2.47,1.84,0.73,0.75,10.10
Nonlinear,2.86,2.22,2.83,1.16,1.12,10.19

In [26]:
print(cs_df.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
{} &  Group1 (<10) &  Group2 (10-19) &  Group3 (20-49) &  Group4 (50-99) &  Group5 (≥100) &  Total CS \\
\midrule
Current         &          1.99 &            1.61 &            1.51 &            0.72 &           0.87 &      6.70 \\
First-Degree PD &          0.00 &            0.00 &            0.00 &            0.00 &           0.00 &      0.00 \\
Linear          &          4.31 &            2.47 &            1.84 &            0.73 &           0.75 &     10.10 \\
Nonlinear       &          2.86 &            2.22 &            2.83 &            1.16 &           1.12 &     10.19 \\
\bottomrule
\end{tabular}

C:\Users\wz369\AppData\Local\Temp\ipykernel_13164\2609820234.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(cs_df.to_latex())

## Social Welfare by Groups

In [33]:
sw_df = profit5_df.rename(columns={"Total Profits": "Total SW"}) + cs_df.rename(columns={"Total CS": "Total SW"})
sw_df

,Group1 (<10),Group2 (10-19),Group3 (20-49),Group4 (50-99),Group5 (≥100),Total SW
Current,6.81,5.86,6.32,2.94,3.03,24.96
First-Degree PD,10.47,7.88,10.50,4.66,5.27,38.78
Linear,9.02,6.91,6.99,2.99,2.90,28.81
Nonlinear,7.95,6.70,8.48,3.80,3.45,30.38

In [34]:
print(sw_df.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
{} &  Group1 (<10) &  Group2 (10-19) &  Group3 (20-49) &  Group4 (50-99) &  Group5 (≥100) &  Total SW \\
\midrule
Current         &          6.81 &            5.86 &            6.32 &            2.94 &           3.03 &     24.96 \\
First-Degree PD &         10.47 &            7.88 &           10.50 &            4.66 &           5.27 &     38.78 \\
Linear          &          9.02 &            6.91 &            6.99 &            2.99 &           2.90 &     28.81 \\
Nonlinear       &          7.95 &            6.70 &            8.48 &            3.80 &           3.45 &     30.38 \\
\bottomrule
\end{tabular}

C:\Users\wz369\AppData\Local\Temp\ipykernel_13164\4214689937.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(sw_df.to_latex())

# Graphs

In [ ]:
sns.barplot(data=)