In [1]:
import pandas as pd

In [31]:
# Profits
profit3_df = pd.DataFrame({"Small (<20)": {"Current": 9.07, "First-Degree PD": 18.35, "Linear": 9.15, "Nonlinear": 9.57},
              "Medium (20-49)": {"Current": 4.81, "First-Degree PD": 10.50, "Linear": 5.15, "Nonlinear": 5.65},
              "Large (≥50)": {"Current": 4.38, "First-Degree PD": 9.93, "Linear": 4.41, "Nonlinear": 4.98}})
profit3_df["Sum"] = profit3_df.sum(axis=1)
profit3_df

                 Small (<20)  Medium (20-49)  Large (≥50)    Sum
Current                 9.07            4.81         4.38  18.26
First-Degree PD        18.35           10.50         9.93  38.78
Linear                  9.15            5.15         4.41  18.71
Nonlinear               9.57            5.65         4.98  20.20

In [26]:
print(profit3_df.to_latex())

\begin{tabular}{lrrr}
\toprule
{} &  Small (<20) &  Medium (20-49) &  Large (≥50) \\
\midrule
Current         &         9.07 &            4.81 &         4.38 \\
First-Degree PD &        18.35 &           10.50 &         9.93 \\
Linear          &         9.15 &            5.15 &         4.41 \\
Nonlinear       &         9.57 &            5.65 &         4.98 \\
\bottomrule
\end{tabular}

C:\Users\wz369\AppData\Local\Temp\ipykernel_13832\147725666.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(profit3_df.to_latex())

In [35]:
profit5_df = pd.DataFrame({"Group1 (<10)": {"Current": 4.82, "First-Degree PD": 10.47, "Linear": 4.71, "Nonlinear": 5.09},
              "Group2 (10-19)": {"Current": 4.25, "First-Degree PD": 7.88, "Linear": 4.44, "Nonlinear": 4.48},
              "Group3 (20-49)": {"Current": 4.81, "First-Degree PD": 10.50, "Linear": 5.15, "Nonlinear": 5.65},
              "Group4 (50-99)": {"Current": 2.22, "First-Degree PD": 4.66, "Linear": 2.26, "Nonlinear": 2.64},
              "Group5 (100-200)": {"Current": 1.72, "First-Degree PD": 3.62, "Linear": 1.72, "Nonlinear": 1.80},
              "Group6 (≥200)": {"Current": 0.44, "First-Degree PD": 1.65, "Linear": 0.43, "Nonlinear": 0.53}})
profit5_df["Sum"] = profit5_df.sum(axis=1)
profit5_df

,Group1 (<10),Group2 (10-19),Group3 (20-49),Group4 (50-99),Group5 (100-200),Group6 (≥200),Sum
Current,4.82,4.25,4.81,2.22,1.72,0.44,18.26
First-Degree PD,10.47,7.88,10.50,4.66,3.62,1.65,38.78
Linear,4.71,4.44,5.15,2.26,1.72,0.43,18.71
Nonlinear,5.09,4.48,5.65,2.64,1.80,0.53,20.19

In [36]:
print(profit5_df.to_latex())

\begin{tabular}{lrrrrrrr}
\toprule
{} &  Group1 (<10) &  Group2 (10-19) &  Group3 (20-49) &  Group4 (50-99) &  Group5 (100-200) &  Group6 (≥200) &    Sum \\
\midrule
Current         &          4.82 &            4.25 &            4.81 &            2.22 &              1.72 &           0.44 &  18.26 \\
First-Degree PD &         10.47 &            7.88 &           10.50 &            4.66 &              3.62 &           1.65 &  38.78 \\
Linear          &          4.71 &            4.44 &            5.15 &            2.26 &              1.72 &           0.43 &  18.71 \\
Nonlinear       &          5.09 &            4.48 &            5.65 &            2.64 &              1.80 &           0.53 &  20.19 \\
\bottomrule
\end{tabular}

C:\Users\wz369\AppData\Local\Temp\ipykernel_13832\3227267008.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(profit5_df.to_latex())

In [ ]:
cs_df = pd.DataFrame({"Small (<20)": {"Current": 9.07, "First-Degree PD": 18.35, "Linear": 9.15, "Nonlinear": 9.57},
              "Medium (20-49)": {"Current": 4.81, "First-Degree PD": 10.50, "Linear": 5.15, "Nonlinear": 5.65},
              "Large (≥50)": {"Current": 4.38, "First-Degree PD": 9.93, "Linear": 4.41, "Nonlinear": 4.98}})
cs_df["Sum"] = cs_df.sum(axis=1)
cs_df